{% extends "base.html" %}
{% block title %}Eventos{% endblock %}
{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/eventos.css' %}">

<h1>Eventos</h1>


<div class="btn-container">
    <a href="{% url 'agregar_evento' %}" class="btn agregar-evento">Agregar Evento</a>
</div>


<div class="eventos">
    {% for evento in eventos %}
        {% include "evento.html" with evento=evento %}
    {% empty %}
        <p>No hay eventos disponibles</p>
    {% endfor %}
</div>

{% endblock %}
