{% extends "base.html" %}
{% block content %}

<style>
.button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

</style>


    <h2>Detalles del Usuario</h2>
    <p><strong>Nombre:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Edad:</strong> {{ user.age }}</p>
    <p><strong>RFC:</strong> {{ user.rfc }}</p>
    <p><strong>Foto:</strong></p>
    <img src="{{ user.photo }}" alt="{{ user.name }}" width="150">

    <!-- Botón de editar usuario -->
    <a href="{% url 'edit_user' user.id %}">
        <button>Editar Usuario</button>
    </a>

    <br><br>

{% endblock %}
