body {
    font-family: Arial, sans-serif;
    text-align: center;
}


.evento, .boleto {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 200px;
    background: white;
}


nav {
    font-size: 18px; 
    padding: 20px 0; 
    background-color: #8e44ad; 
}


nav a {
    color: white; 
    text-decoration: none;
    font-weight: bold;
    margin: 0 20px; 
}


nav a:hover {
    color: #f39c12; 
}
